div {
  border: 0px dotted green;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
  background-color: white;
  top: 0px;
}

.logo span {
  color: MediumAquamarine;
}

.logo img {
  padding-right: 10px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: center;
  align-content: center;
  padding-left: 20px;
}

nav {
  padding-right: 40px;
}
nav span {
  display: inline-block;
  padding: 10px 10px;
}

nav a {
  color: black;
}

.content{
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 110px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

p {
  font-family: Georgia;
  color: black;
  display: block;
}

div.pictureheader {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-top: 15px;
}

.pictureheader {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
}

.pictureheader span {
  text-align: center;
}

.mainstory {
  display: block;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.stories .text-content {
  height: 250px;
}

.story {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.mainstory span {
  font-size: 40px;
}

.mainstory .pictureheader {
  background-image: url(../images/img-story-main.png);
  width: 630px;
  margin-top: 0px;
}

.story.two .pictureheader {
  background-image: url(../images/img-story-2.png);
}

.story.three .pictureheader {
  background-image: url(../images/img-story-3.png);
}

.story.one .pictureheader {
  background-image: url(../images/img-story-1.png);
}

h3 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.newsbites div {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 11px 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
}

footer nav {
  padding-right: 0px;
}

footer .logofooter span {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border-right: 1px solid white;
}

.footer {
  display: flex;
  margin: 10px 0px;
}

footer span {
  padding: 5px 20px;
}
